* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 75, 75);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    margin: 10px;
}

input {
    border: none;
    background-color: rgb(221, 221, 221);
    padding: 10px;
    margin: 10px 0;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

#logo h1 {
    font-size: 2rem;
    margin-left: 25px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    flex-direction: row;
    color: #000;
    list-style: none;
}

.nav-items li {
    margin-right: 30px;
}

#avatar {
    text-align: center;
    background-color: #ddd;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.btn-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

#card {
    background-color: #fff;
    width: 450px;
    height: 225px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    box-shadow: 4px 3px 11px 3px rgb(44, 44, 44);
}

.ok-btn {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(96, 255, 96);
    border-bottom-left-radius: 20px;
}

.cancel-btn {
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 96, 96);
    border-bottom-right-radius: 20px;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-solid {
    font-size: 2rem;
    margin: 10px;
}

.fa-gear {
    font-size: 25px;
    color: grey;
}

.fa-user-tie {
    color: #000;
}
