* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

button, input[type=submit] {
    position: relative;
    font-size: 100%;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    color: #000;
    font-weight: 600;
    box-shadow: 0px 0px 5px 0px #d7d7d7;
    max-width: max-content;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 7px 1px #d7d7d7;
}

button:active {
    top: 1px;
}

input,
textarea {
    font-size: 1rem;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
    color: #000;
    box-shadow: 0px 0px 5px 0px #d7d7d7;
    width: 100%;
    resize: none;
}

input:hover,
textarea:hover {
    box-shadow: 0px 0px 7px 1px #d7d7d7;
}

input:focus {
    outline: none;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#form {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 1px #c0c0c0;
    padding: 25px;
    background-color: #fff;
    animation: fade 0.3s;
    width: 40vw;
    max-height: max-content;
    overflow: hidden;
}

.form-title h1 {
    margin: 15px auto;
    font-size: 2rem;
    color: #000;
    font-weight: 600;
}

.grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    margin: 15px auto;
    padding: 1.2rem;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #d7d7d7;
    border-radius: 15px;
    transition: all 0.2s ease-out;
    background-color: #fff;
    overflow: hidden;
    height: 50vh;
    width: 100%;
    margin-right: 15px;
}

.card-title {
    margin: 15px auto;
    font-size: 1.2rem;
}

.card-body {
    padding: 20px;
}

.card-body p {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

#card:hover {
    box-shadow: 0px 0px 10px 3px #d7d7d7;
}

#category p {
    font-size: 1.1rem;
}

#card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#card img {
    width: 100%;
    height: 40%;
}

.fa-solid {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(255, 79, 79);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    .grid-template {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 1020px) {
    .grid-template {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px) {
    .grid-template {
        grid-template-columns: repeat(1, 1fr);
    }

}