<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title>Register</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/private">Private</a></li>
            </ul>
        </nav>
        <form id="signup-form">
            <h1>Register</h1>
            <input name="email" type="email" placeholder="email" required>
            <input name="password" type="password" placeholder="password" required>
            <div style="display: flex; flex-direction: row;">
                <label for="role">admin</label>
                <input type="radio" name="role" value="admin" checked>
                <label for="role">guest</label>
                <input type="radio" name="role" value="guest">
            </div>
            <button type="submit">Create User</button>
        </form>
    </main>

    <script src="signup.js"></script>
</body>
</html>