* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-weight: 500;
    margin: 20px 0;
    font-size: 50px;
}

button {
    padding: 15px;
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

button#start {
    background-color: rgb(34, 172, 34);
}

button#stop {
    background-color: rgb(170, 37, 37);
}

button#reset {
    background-color: rgb(40, 63, 196);
}

button#start:hover {
    background-color: rgb(36, 211, 36);
}

button#stop:hover {
    background-color: rgb(212, 30, 30);
}

button#reset:hover {
    background-color: rgb(46, 74, 228);
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px auto;
}

.stop-watch {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #fafafa; 
    width: 50%; 
}
