<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="private.css">
    <title>Private Page</title>
</head>
<body>
    <main>
        <h1>Private!</h1>

        <form id="delete-form">
            <h1>Delete</h1>
            <input id="email" name="email" type="email" placeholder="email" required>
            <button type="submit">Delete</button>
        </form>
    </main>

    <script src="private.js"></script>
</body>
</html>