<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/private">Private</a></li>
            </ul>
        </nav>
        <form id="login-form">
            <h1>Login</h1>
            <input name="email" type="email" placeholder="email">
            <input name="password" type="password" placeholder="password">
            <button type="submit">Login</button>
        </form>
    </main>
    
    <script src="login.js"></script>
</body>
</html>